* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Mono;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: +1;
}

.menu i {
    font-size: 30px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 11rem 25rem;
    letter-spacing: 3px;
}

.hello {
    position: relative;
}

.hello:after {
    content: '';
    position: absolute;
    bottom: -50%;
    width: 20%;
    height: 4px;
    background-color: black;
}

.para {
    margin: 4rem 0;
    line-height: 22px;
}

.para span {
    font-weight: 700;
}

.look {
    border: 1px solid;
    padding: 0.5rem;
    width: 65%;
    overflow: hidden;
    position: relative;
}

.look:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 1s ease;
    z-index: -1;
}

.look:hover:before {
    left: 0;
    top: 0;
}

.look:hover a {
    color: white;
}

.scroll {
    text-align: center;
    margin: 3rem 0;
}

.section2 {
    background: url(images/bg-1.jpg)no-repeat fixed center/cover;
    width: 100%;
    padding: 5rem;
    position: relative;
}

.what h1,
h2 {
    color: white;
    padding: 1.5rem 0;
}

.i {
    position: relative;
}

.i:before {
    content: '';
    position: absolute;
    bottom: -10%;
    height: 4px;
    width: 4%;
    background-color: white;
}

.services {
    display: flex;
    justify-content: space-between;
}

.option {
    padding: 5rem 0;
    position: relative;
}

.option p {
    width: 48%;
}

.option .white,
h4 {
    color: white;
    margin: 0.5rem 0;
}

.option i {
    font-size: 35px;
    color: white;
    border: 1px solid white;
    padding: 1rem;
}

.services .right .option {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

.left .option:first-of-type:before {
    content: '';
    position: absolute;
    top: 114px;
    left: 100px;
    width: 42%;
    height: 2px;
    background-color: white;
}

.left .option:first-of-type:after {
    content: '';
    position: absolute;
    top: 275px;
    right: -81px;
    width: 65%;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.left .option:last-of-type:before {
    content: '';
    position: absolute;
    top: 114px;
    left: 100px;
    width: 42%;
    height: 2px;
    background-color: white;
}

.left .option:last-of-type:after {
    content: '';
    position: absolute;
    top: -47px;
    right: -81px;
    width: 65%;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}

.right .option:first-of-type:before {
    content: '';
    position: absolute;
    top: 114px;
    left: 282px;
    width: 42%;
    height: 2px;
    background-color: white;
}

.right .option:first-of-type:after {
    content: '';
    position: absolute;
    top: 282px;
    right: 306px;
    width: 72%;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}

.right .option:last-of-type:before {
    content: '';
    position: absolute;
    top: 114px;
    left: 275px;
    width: 42%;
    height: 2px;
    background-color: white;
}

.right .option:last-of-type:after {
    content: '';
    position: absolute;
    top: -54px;
    right: 313px;
    width: 72%;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.computer img {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 500px;
}

.port {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    border: 1px solid white;
    color: white;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.portfolio::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: -1;
}

.portfolio:hover::before {
    left: 0;
}

.portfolio:hover {
    color: black;
}

.section3 {
    padding: 10rem 5rem;
}

.section3 h1 {
    position: relative;
}

.section3 h3 {
    padding: 3rem 0;
}

.section3 .work::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 3%;
    height: 4px;
    bottom: -25px;
}

.fonts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    font-size: 30px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 7rem 2rem 5rem 2rem;
    border: 2px dotted;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    color: white;
    background-color: black;
    border: 1px solid;
}
.meeting h1{
    text-align: center;
}
.meet{
    display: flex;
    justify-content:space-between   ;
    align-items: center;
    padding: 3rem;
}
.meet img{
    width: 30%;

}
.meet p{
    width: 60%;
    height: 300px;
    line-height: 3rem;
}
.section4{
    background:url(images/bg-1.jpg) no-repeat fixed center /cover;
    padding: 5rem;
}
.section4 h1, h3{
    color:white;
}
.section4 h3{
    margin-top: 4rem;
}
.section4 h1{
    position: relative;
}
.section4 h1:before{
    content:'';
    position: absolute;
    background-color: white;
    width: 4%;
    height: 4px;
    bottom: -20px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}
.anchor a{
    color: white;
}
.page .anchor{
    border: 1px solid white;
    text-align: center;
    margin: 0 1.5rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.anchor::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: -1;
}
.anchor:hover::before{
    left: 0;
}
.anchor:hover a{
    color: black;
}
.threebox{
    display:flex ;
    justify-content: space-around;
    align-items: center;
}
.box{
    background: url(images/folio.jpg) no-repeat scroll center /cover;
    width: 30%;
    height: 400px;
    overflow: hidden;
    position: relative;

}
.box::before{
    content: '';
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0,0,0,0.5);
    transition: all 1s ease;
}
.box:hover::before{
    bottom: 0;
}
.chain i{
    position: absolute;
    bottom: -25%;
    left: 40%;
    font-size: 30px;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    transition: all 1s ease;
}
.box:hover .chain i{
    bottom: 30%;
    left: 40%;
}
.section5{
    padding: 5rem;
}
.fallen{
    text-align: center;
    margin-top: 8rem;
    position: relative;
}
.fallen::before{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 620px;
    width: 5%;
    height: 4px;
    background-color: black;
}
.s5boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}
.s5box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.s5box .go{
    border: 1px solid;
    border-radius: 5px;
    padding:1.5rem;
    position: relative;
    overflow: hidden;
    width: 50%;
    
}
.go::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 1s ease;
    z-index: -1;
}
.go:hover a{
    color: white;
}
.go:hover::before{
    top: 0;
    left: 0;
}
.s5box p{
    padding: 3rem 0;
}
.section6{
    background:url(images/bg-1.jpg) no-repeat fixed center /cover;
    padding: 5rem;  
}
.john{
    margin-bottom: 4rem;
    position: relative;
}
.john h1{
    color: white;
}
.john::before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 4%;
    height: 4px;
    background-color: white;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    
}
.pic{
    width: 20%;
}
.pic img{
    border-radius: 50%;
    width: 100%;
}
.bio{
    width: 70%;
}
.bio p{
    color: white;
    width: 100%;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}
.download {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume {
    border: 1px solid white;
    color: white;
    margin-top: 5rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.resume::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: -1;
}

.resume:hover::before {
    left: 0;
}

.resume:hover {
    color: black;
}
.section7{
    display: flex;
}
.section7 .black,.white{
    width: 50%;
}
.black{
    padding: 5rem 0 5rem 5rem;
    background-color: black;
    width: 100%;
}
.black h1{
    color: white;
    margin: 3rem 0;
    position: relative;
}
.black h1::before{
    content: '';
    position: absolute;
    bottom:-10px;
    width: 6%;
    height: 4px;
    background-color: white;
}
.black p{
    color:white;
    line-height: 3rem;
}
.gained{
    margin-top: 2rem;
}
.lang{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:5rem;
}
.name h2{
    color:black;
    font-weight: 400;
    letter-spacing: 2px;
}
.language{
    text-align: center;
    margin: 5rem 0;
    width: 30%;
}
.sign i{
    font-size: 40px;
}
.section8{
    padding: 5rem;
}
.section8 .touch h1{
    margin: 2rem 0;
    position: relative;
}
.touch h2{
    color: black;
    font-weight: 400;
}

.touch h1::before{
    content: '';
    position: absolute;
    bottom: -15px;
    width: 4%;
    height: 4px;
    background-color: black;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.details{
    text-align: center;
    margin: 5rem 0;
}
.mark i{
    font-size: 25px;
    border: 1px solid grey;
    padding: 1rem;
}
.text p{
    padding-top: 1.5rem;
    letter-spacing: 2px;
}
